regex
langchain
langchain-community
langchain-chroma
langchain-ollama
chromadb
pypdf
pytest
boto3
flask==2.2.2
werkzeug==2.2.2
requests
slack-bolt
slack-sdk
ngrok
langdetect
googletrans
langid
asyncio